@using WebApplication2.Models.Account;
@using static WebApplication2.Models.Account.Profile;
@model Profile
@{
    ViewData["Title"] = "Admin Panel";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Register user</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            ViewBag.Fname
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-asp-controller="Account" asp-action="Login" class="btn btn-secondary" style="width:150px"> Login</a>
        <a asp-asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px"> Back to home</a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

